apiVersion: v1
kind: ConfigMap
metadata:
  name: allianceauth-myauth-overrides
data:
    requirements.txt: ""
    celery.py: |
        import os
        from celery import Celery
        from celery.app import trace

        # set the default Django settings module for the 'celery' program.
        os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'myauth.settings.local')

        from django.conf import settings  # noqa

        app = Celery('myauth')

        # Automatically try to establish the connection to the AMQP broker on
        # Celery startup if it is unavailable.
        app.conf.broker_connection_retry_on_startup = True

        # Using a string here means the worker don't have to serialize
        # the configuration object to child processes.
        app.config_from_object('django.conf:settings')

        # setup priorities ( 0 Highest, 9 Lowest )
        app.conf.broker_transport_options = {
            'priority_steps': list(range(10)),  # setup que to have 10 steps
            'queue_order_strategy': 'priority',  # setup que to use prio sorting
        }
        app.conf.task_default_priority = 5  # anything called with the task.delay() will be given normal priority (5)
        app.conf.worker_prefetch_multiplier = 1  # only prefetch single tasks at a time on the workers so that prio tasks happen

        app.conf.ONCE = {
            'backend': 'allianceauth.services.tasks.DjangoBackend',
            'settings': {}
        }

        # Load task modules from all registered Django app configs.
        app.autodiscover_tasks(lambda: settings.INSTALLED_APPS)

        # Remove result from default log message on task success
        trace.LOG_SUCCESS = "Task %(name)s[%(id)s] succeeded in %(runtime)ss"

    urls.py: |
        from allianceauth import urls
        from django.urls import include, path

        urlpatterns = [
            path('', include(urls)),
        ]

        handler500 = 'allianceauth.views.Generic500Redirect'
        handler404 = 'allianceauth.views.Generic404Redirect'
        handler403 = 'allianceauth.views.Generic403Redirect'
        handler400 = 'allianceauth.views.Generic400Redirect'

    base.py: |
        import os

        from celery.schedules import crontab

        from django.contrib import messages

        from django.utils.translation import gettext_lazy as _

        INSTALLED_APPS = [
            "allianceauth",  # needs to be on top of this list to support favicons in Django admin (see https://gitlab.com/allianceauth/allianceauth/-/issues/1301)
            "django.contrib.admin",
            "django.contrib.auth",
            "django.contrib.contenttypes",
            "django.contrib.sessions",
            "django.contrib.messages",
            "django.contrib.staticfiles",
            "django.contrib.humanize",
            "django_celery_beat",
            "solo",
            "bootstrapform",
            "django_bootstrap5",  # https://github.com/zostera/django-bootstrap5
            "sortedm2m",
            "esi",
            "allianceauth.framework",
            "allianceauth.authentication",
            "allianceauth.services",
            "allianceauth.eveonline",
            "allianceauth.groupmanagement",
            "allianceauth.notifications",
            "allianceauth.thirdparty.navhelper",
            "allianceauth.analytics",
            "allianceauth.menu",
            "allianceauth.theme",
            "allianceauth.theme.darkly",
            "allianceauth.theme.flatly",
            "allianceauth.theme.materia",
            "allianceauth.custom_css",
            "allianceauth.crontab",
            "sri",
        ]

        SRI_ALGORITHM = "sha512"
        SECRET_KEY = "wow I'm a really bad default secret key"

        # Celery configuration
        BROKER_URL = "redis://localhost:6379/0"
        CELERYBEAT_SCHEDULER = "allianceauth.crontab.schedulers.OffsetDatabaseScheduler"
        CELERYBEAT_SCHEDULE = {
            "esi_cleanup_callbackredirect": {
                "task": "esi.tasks.cleanup_callbackredirect",
                "schedule": crontab(minute="0", hour="*/4"),
            },
            "esi_cleanup_token": {
                "task": "esi.tasks.cleanup_token",
                "schedule": crontab(minute="0", hour="0"),
                "apply_offset": True,
            },
            "run_model_update": {
                "task": "allianceauth.eveonline.tasks.run_model_update",
                "schedule": crontab(minute="0", hour="*/6"),
                "apply_offset": True,
            },
            "check_all_character_ownership": {
                "task": "allianceauth.authentication.tasks.check_all_character_ownership",
                "schedule": crontab(minute="0", hour="*/4"),
                "apply_offset": True,
            },
            "analytics_daily_stats": {
                "task": "allianceauth.analytics.tasks.analytics_daily_stats",
                "schedule": crontab(minute="0", hour="2"),
            },
        }


        # Build paths inside the project like this: os.path.join(BASE_DIR, ...)
        PROJECT_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
        BASE_DIR = os.path.dirname(PROJECT_DIR)

        MIDDLEWARE = [
            "django.middleware.security.SecurityMiddleware",
            "django.contrib.sessions.middleware.SessionMiddleware",
            "allianceauth.authentication.middleware.UserSettingsMiddleware",
            "allianceauth.middleware.DeviceDetectionMiddleware",
            "django.middleware.locale.LocaleMiddleware",
            "django.middleware.common.CommonMiddleware",
            "django.middleware.csrf.CsrfViewMiddleware",
            "django.contrib.auth.middleware.AuthenticationMiddleware",
            "django.contrib.messages.middleware.MessageMiddleware",
            "django.middleware.clickjacking.XFrameOptionsMiddleware",
        ]

        ROOT_URLCONF = "allianceauth.urls"

        LOCALE_PATHS = (os.path.join(BASE_DIR, "locale/"),)

        LANGUAGES = (  # Sorted by Language Code alphabetical order + English at top
            ("en", _("English")),
            # ("cs-cz", _("Czech")), #Not yet at 50% translated
            ("de", _("German")),
            ("es", _("Spanish")),
            ("it-it", _("Italian")),
            ("ja", _("Japanese")),
            ("ko-kr", _("Korean")),
            ("fr-fr", _("French")),
            ("nl-nl", _("Dutch")),
            ("pl-pl", _("Polish")),
            ("ru", _("Russian")),
            ("uk", _("Ukrainian")),
            ("zh-hans", _("Simplified Chinese")),
        )

        LANGUAGE_MAPPING = {
            "DataTables": {
                "cs-cz": "cs",
                "de": "de-DE",
                "es": "es-ES",
                "fr-fr": "fr-FR",
                "it-it": "it-IT",
                "ja": "ja",
                "ko-kr": "ko",
                "nl-nl": "nl-NL",
                "pl-pl": "pl",
                "ru": "ru",
                "uk": "uk",
                "zh-hans": "zh-HANT",
            },
            "MomentJS": {
                "cs-cz": "cs",
                "de": "de",
                "es": "es",
                "fr-fr": "fr",
                "it-it": "it",
                "ja": "ja",
                "ko-kr": "ko",
                "nl-nl": "nl",
                "pl-pl": "pl",
                "ru": "ru",
                "uk": "uk",
                "zh-hans": "zh-cn",
            },
        }

        TEMPLATES = [
            {
                "BACKEND": "django.template.backends.django.DjangoTemplates",
                "DIRS": [os.path.join(PROJECT_DIR, "templates")],
                "APP_DIRS": True,
                "OPTIONS": {
                    "context_processors": [
                        "django.template.context_processors.debug",
                        "django.template.context_processors.request",
                        "django.contrib.auth.context_processors.auth",
                        "django.contrib.messages.context_processors.messages",
                        "django.template.context_processors.i18n",
                        "django.template.context_processors.media",
                        "django.template.context_processors.static",
                        "django.template.context_processors.tz",
                        "allianceauth.context_processors.auth_settings",
                    ],
                },
            },
        ]

        WSGI_APPLICATION = "allianceauth.wsgi.application"

        AUTH_PASSWORD_VALIDATORS = [
            {"NAME": "django.contrib.auth.password_validation.UserAttributeSimilarityValidator"},
            {"NAME": "django.contrib.auth.password_validation.MinimumLengthValidator"},
            {"NAME": "django.contrib.auth.password_validation.CommonPasswordValidator"},
            {"NAME": "django.contrib.auth.password_validation.NumericPasswordValidator"},
        ]

        AUTHENTICATION_BACKENDS = [
            #"allianceauth.authentication.backends.StateBackend",
            "aa_skip_email.authentication.backends.SkipEmailBackend",
            "django.contrib.auth.backends.ModelBackend",
        ]

        LANGUAGE_CODE = "en-us"
        LANGUAGE_COOKIE_AGE = 1209600
        TIME_ZONE = "UTC"
        USE_I18N = True
        USE_TZ = True

        STORAGES = {
            "default": {"BACKEND": "django.core.files.storage.FileSystemStorage"},
            "staticfiles": {
                "BACKEND": "allianceauth.framework.staticfiles.storage.AaManifestStaticFilesStorage"
            },
        }

        STATIC_URL = "/static/"
        STATICFILES_DIRS = [os.path.join(PROJECT_DIR, "static")]
        STATIC_ROOT = os.path.join(BASE_DIR, "static")

        MESSAGE_TAGS = {messages.ERROR: "danger error"}

        CACHES = {
            "default": {
                "BACKEND": "django_redis.cache.RedisCache",
                "LOCATION": "redis://127.0.0.1:6379/1",
            }
        }

        SESSION_ENGINE = "django.contrib.sessions.backends.cached_db"

        DEBUG = False
        DISPLAY_DEBUG = False
        ALLOWED_HOSTS = ["*"]
        DATABASES = {
            "default": {
                "ENGINE": "django.db.backends.sqlite3",
                "NAME": str(os.path.join(BASE_DIR, "alliance_auth.sqlite3")),
            }
        }

        SITE_NAME = "Alliance Auth"

        DEFAULT_THEME = "allianceauth.theme.flatly.auth_hooks.FlatlyThemeHook"
        DEFAULT_THEME_DARK = "allianceauth.theme.darkly.auth_hooks.DarklyThemeHook"

        LOGIN_URL = "auth_login_user"
        LOGIN_REDIRECT_URL = "authentication:dashboard"
        LOGOUT_REDIRECT_URL = "authentication:dashboard"

        LOGIN_TOKEN_SCOPES = ["publicData"]

        EMAIL_TIMEOUT = 15
        ACCOUNT_ACTIVATION_DAYS = 1

        ESI_API_URL = "https://esi.evetech.net/"

        LOGGING = {
            "version": 1,
            "disable_existing_loggers": False,
            "formatters": {
                "verbose": {
                    "format": "[%(asctime)s] %(levelname)s [%(name)s:%(lineno)s] %(message)s",
                    "datefmt": "%d/%b/%Y %H:%M:%S",
                },
                "simple": {"format": "%(levelname)s %(message)s"},
            },
            "handlers": {
                "log_file": {
                    "level": "WARNING",
                    "class": "logging.handlers.RotatingFileHandler",
                    "filename": os.path.join(BASE_DIR, "log/allianceauth.log"),
                    "formatter": "verbose",
                    "maxBytes": 1024 * 1024 * 5,
                    "backupCount": 5,
                },
                "extension_file": {
                    "level": "WARNING",
                    "class": "logging.handlers.RotatingFileHandler",
                    "filename": os.path.join(BASE_DIR, "log/extensions.log"),
                    "formatter": "verbose",
                    "maxBytes": 1024 * 1024 * 5,
                    "backupCount": 5,
                },
                "console": {
                    "level": "WARNING",
                    "class": "logging.StreamHandler",
                    "formatter": "verbose",
                },
                "notifications": {
                    "level": "ERROR",
                    "class": "allianceauth.notifications.handlers.NotificationHandler",
                    "formatter": "verbose",
                },
            },
            "loggers": {
                "allianceauth": {"handlers": ["log_file", "console", "notifications"], "level": "WARNING"},
                "extensions": {"handlers": ["extension_file", "console"], "level": "WARNING"},
                "django": {"handlers": ["log_file", "console"], "level": "ERROR"},
                "esi": {"handlers": ["log_file", "console"], "level": "WARNING"},
            },
        }

        DEFAULT_AUTO_FIELD = "django.db.models.AutoField"

    local.py: |
        from .base import *

        SECRET_KEY = os.environ.get("AA_SECRET_KEY")
        SITE_NAME = os.environ.get("AA_SITENAME")

        def _env_bool(name: str, default: bool = False) -> bool:
            value = os.environ.get(name)
            if value is None:
                return default
            return str(value).strip().lower() in {"1", "true", "yes", "y", "on"}

        protocol = (os.environ.get("PROTOCOL") or "https").strip()
        if "://" not in protocol:
            protocol = protocol.rstrip("/") + "://"
        if not protocol.endswith("://"):
            protocol = protocol.split("://", 1)[0] + "://"

        auth_subdomain = (os.environ.get("AUTH_SUBDOMAIN") or "").strip().strip(".")
        domain = (os.environ.get("DOMAIN") or "").strip()
        site_host = f"{auth_subdomain}.{domain}" if auth_subdomain else domain

        SITE_URL = (os.environ.get("AA_SITE_URL") or "").strip() or f"{protocol}{site_host}"

        trusted_origins = set()
        if SITE_URL:
            trusted_origins.add(SITE_URL.rstrip("/"))
        if domain:
            trusted_origins.add(f"{protocol}{domain}".rstrip("/"))
            trusted_origins.add(f"{protocol}*.{domain}".rstrip("/"))

        extra_trusted = (os.environ.get("AA_CSRF_TRUSTED_ORIGINS") or "").strip()
        if extra_trusted:
            for origin in extra_trusted.replace("\n", ",").split(","):
                origin = origin.strip()
                if origin:
                    trusted_origins.add(origin.rstrip("/"))

        CSRF_TRUSTED_ORIGINS = sorted(trusted_origins)
        DEBUG = _env_bool("AA_DEBUG", False)
        DATABASES["default"] = {
            "ENGINE": "django.db.backends.mysql",
            "NAME": os.environ.get("AA_DB_NAME"),
            "USER": os.environ.get("AA_DB_USER"),
            "PASSWORD": os.environ.get("AA_DB_PASSWORD"),
            "HOST": os.environ.get("AA_DB_HOST"),
            "PORT": os.environ.get("AA_DB_PORT", "3306"),
            "OPTIONS": {"charset": os.environ.get("AA_DB_CHARSET", "utf8mb4")},
        }
        ESI_SSO_CALLBACK_URL = f"{SITE_URL}/sso/callback"  # Do NOT change this line!
        ESI_SSO_CLIENT_ID = os.environ.get("ESI_SSO_CLIENT_ID")
        ESI_SSO_CLIENT_SECRET = os.environ.get("ESI_SSO_CLIENT_SECRET")
        ESI_USER_CONTACT_EMAIL = os.environ.get("ESI_USER_CONTACT_EMAIL")
        REGISTRATION_VERIFY_EMAIL = False
        EMAIL_HOST = os.environ.get("AA_EMAIL_HOST", "")
        EMAIL_PORT = os.environ.get("AA_EMAIL_PORT", 587)
        EMAIL_HOST_USER = os.environ.get("AA_EMAIL_HOST_USER", "")
        EMAIL_HOST_PASSWORD = os.environ.get("AA_EMAIL_HOST_PASSWORD", "")
        EMAIL_USE_TLS = os.environ.get("AA_EMAIL_USE_TLS", True)
        DEFAULT_FROM_EMAIL = os.environ.get("AA_DEFAULT_FROM_EMAIL", "")

        ROOT_URLCONF = "myauth.urls"
        WSGI_APPLICATION = "myauth.wsgi.application"
        STATIC_ROOT = "/var/www/myauth/static/"
        BROKER_URL = f"redis://{os.environ.get('AA_REDIS', 'redis:6379')}/0"
        CACHES = {
            "default": {
                "BACKEND": "django_redis.cache.RedisCache",
                "LOCATION": f"redis://{os.environ.get('AA_REDIS', 'redis:6379')}/1",
            }
        }

        AA_EXTRA_INSTALLED_APPS = os.environ.get("AA_EXTRA_INSTALLED_APPS", "").strip()
        if AA_EXTRA_INSTALLED_APPS:
            extra_apps = [
                app.strip()
                for app in AA_EXTRA_INSTALLED_APPS.replace("\n", ",").split(",")
                if app.strip()
            ]
            INSTALLED_APPS += extra_apps

        DISCORD_CALLBACK_URL = f"{SITE_URL}/discord/callback/"  # Do NOT change this line!
        DISCORD_GUILD_ID = os.environ.get("DISCORD_GUILD_ID", "")
        DISCORD_APP_ID = os.environ.get("DISCORD_APP_ID", "")
        DISCORD_APP_SECRET = os.environ.get("DISCORD_APP_SECRET", "")
        DISCORD_BOT_TOKEN = os.environ.get("DISCORD_BOT_TOKEN", "")
        DISCORD_SYNC_NAMES = _env_bool("DISCORD_SYNC_NAMES", False)