apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: micasa
resources:
  - namespace.yaml
  - secrets.yaml
  - ../../../apps/homeassistant
patchesStrategicMerge:
  - patches/homeassistant-service.yaml
  - patches/homeassistant-storage.yaml