apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: micasa
resources:
  - namespace.yaml
  - secrets.yaml
  - ../../../apps/homeassistant
  - ../../../apps/zigbee2mqtt

patchesStrategicMerge:
  - patches/homeassistant-service.yaml
  - patches/homeassistant-storage.yaml
  - patches/zigbee2mqtt-storage.yaml
  - patches/zigbee2mqtt-service.yaml