apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: micasa
resources:
  - namespace.yaml
  - immich-postgres-config.yaml
  - immich-redis-config.yaml
  - vaultwarden-postgres-config.yaml
  - frigate-secret.yaml
  - ../../../apps/homeassistant
  - ../../../apps/zigbee2mqtt
  - ../../../apps/mosquitto
  - ../../../apps/immich
  - ../../../apps/esphome
  - ../../../apps/frigate
  - ../../../apps/vaultwarden
  - ../../../apps/immichFrame

patchesStrategicMerge:
  - patches/homeassistant-service.yaml
  - patches/homeassistant-storage.yaml
  - patches/homeassistant-deployment.yaml

  - patches/zigbee2mqtt-storage.yaml
  - patches/zigbee2mqtt-service.yaml

  - patches/mosquitto-storage.yaml
  - patches/mosquitto-service.yaml

  - patches/immich.yaml
  - patches/immich-service.yaml
  - patches/immich-ml.yaml
  - patches/immich-ml-service.yaml

  - patches/esphome-service.yaml
  - patches/esphome-server.yaml

  - patches/vaultwarden-service.yaml
  - patches/vaultwarden-storage.yaml

  - patches/immichFrame-service.yaml
  - patches/immichFrame-storage.yaml