apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: esphome
spec:
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      storageClassName: rook-ceph-block
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 25Gi