apiVersion: v1
kind: Service
metadata:
  name: mqtt
spec:
  type: LoadBalancer
  ports:
  - port: 1883
    protocol: TCP
    name: mqtt
  - port: 8001
    protocol: TCP
    name: mqtt-ws
  selector:
    app: mosquitto