apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ../../../apps/prometheus
  - ../../../apps/loki
  - ../../../apps/promtail
  - grafana-secrets.yaml
patches:
  - target:
      kind: HelmRelease
      name: kube-prometheus-stack
      namespace: monitoring
    path: patches/kps-values.yaml
    optional: true
  - target:
      kind: HelmRelease
      name: loki
      namespace: monitoring
    path: patches/loki-storage.yaml
    optional: true
