apiVersion: v1
kind: Service
metadata:
  name: llama-cpp
  labels:
    app: llama-cpp
spec:
  type: ClusterIP
  selector:
    app: llama-cpp
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
